@import url("http://fonts.google.com/specimen/Outfit");

figure{
    margin: 0;
}

hr{
    color: hsl(215, 32%, 27%);
}

body{
    font-family: Outfit;
    background-color: hsl(217, 54%, 11%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-size: 16px;
}

.nft-image img{
    width: 100%;
    border-radius: 18px;
}

.container{
    max-width: 300px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
}

.card{
    padding: 6%;
}

.footer{
    display: flex;
    align-items: center;
}
figure.footer img{
    border-radius: 100%;
    border: 1px solid white;
    width: 10%;
    margin-right: 5%;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info figcaption{
    font-size: 15px;
}

.eth{
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: hsl(178, 100%, 50%);
}
.clock{
    margin-left: -15%;
    display: flex;
    align-items: center;
    font-size: 18px;
    white-space: nowrap;
}

.clock img{
    margin-right: 5%;
    width: 20px;
    height: 20px;
    font-size: 18px;
}
.eth img{
    margin-right: 5%;
    width: 15px;
    height: 20px;

}
.font-card p{
    color: hsl(215, 51%, 70%);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
